#posts-chart(data-start="2023-01" style="height: 300px; padding: 10px;")

#categories-chart(data-parent="true" style="height: 300px; padding: 10px;")

#tags-chart(data-length="10" style="height: 300px; padding: 10px;")